main{
  display : flex;
}
#game-interaction{
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}
#gameWordWrapper{
  display: flex;
  padding-bottom: 50px;
  flex-direction: row;
}
#letter-input{
  padding-bottom: 13px;

}

.letter{
  border-radius: 25px;
  border : 3px solid #000000;
  background: #73AD21;
  padding: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  font-style: italic;
}
#hangman-wrapper{
  position: relative;
  height: 500px;
  width: 500px;
  min-width: 500px;
}
/*The problem with the hangman getting deformed has to do with the `hangman-wrapper` getting smaller as the page gets smaller. One way to fix this is to put a `min-width` property on the hangman-wrapper*/

.hangmansAltar{
  position: absolute;
  border: 3px solid black;
  height: 100px;
  width: 3px;
  /*Make sure you pay attention to the formatting/neatness of your code.  colons should be attached to the declaration.  Run your code through a validator to make sure there are no errors.  */
}
.hangmanBody{
  position: absolute;
}

#top{
  top: 0%;
  transform : rotate(90deg);
  right : 40%;
}
#post{
  top : 10%;
  left : 48%;
  height : 330px;
}
#rope{
  top : 10%;
  right: 30%;
}
#bottom{
  transform: rotate(90deg);
  bottom : 12%;
  left : 48%;
}

#head{
   background: purple;
   width: 50px;
   height: 50px;
   border-radius: 50px;
   top : 30%;
   right : 25.5%;
}
#body{
  background: purple;
  width : 5px;
  height : 120px;
  top : 40%;
  right : 30%;
}
#rightArm {
  background: purple;
  width: 5px;
  height : 80px;
  transform: rotate(45deg);
  top : 40%;
  right : 36%;
}
#leftArm {
  background: purple;
  width: 5px;
  height : 80px;
  transform: rotate(135deg);
  top : 40%;
  right : 24%;
}
#leftLeg {
  background: purple;
  width: 5px;
  height : 70px;
  transform: rotate(34deg);
  top : 61%;
  right : 34%;
}
#rightLeg {
  background: purple;
  width: 5px;
  height : 70px;
  transform: rotate(135deg);
  top : 61%;
  right : 25%;
} /*There seems to be a good amount of repeated code here that could be abstracted into a seperate class - maybe hangman-body or body-part?*/
/*Nice job making your Hangman with all CSS!  Good job keeping everything fairly semantic as well.*/
/*I think a bit more styling of your page could help make your content a lot more fun for the user*/
/*You could mess with the buttons and input styles, and background color of the page for instance.*/
